#titulo{
     	color: #051720;
    	font-size: 22px;
    	font-weight: bold;
    	height: 40px;
    	text-align: center;
	margin-top: -40px;
}
#titulo_tabla
{
	background-color:#1e91cf;
	color:#051720;
	font-size:17px;
	width: 300px;
	height: 30px;
	font-weight: bold;
	border: 0;
}
#titulo_reporte
{
     	color: #051720;
    	font-size: 17px;
    	font-weight: bold;
    	height: 40px;
}
#pie_tabla
{
	background-color:#1e91cf;
	color:#FFFFFF;
	font-size:12px;
	width: 300px;
	height: 30px;
	font-weight: bold;
	border: 0;
}
#detalle_img
{
	background-color:#279fe0;
	color:#051720;
	font-size:14px;
	width: 60px;
	height: 80px;
	font-weight: bold;
	border: 0;
}
#detalle_tex
{
	background-color:#279fe0;
	color:#051720;
	font-size:14px;
	width: 200px;
	height: 20px;
	font-weight: bold;
	border: 0;
}
#titulo_tb
{
	color:#051720;
	font-size:15px;
	width: 200px;
	height: 20px;
	font-weight: bold;
	border: 0;
	text-align: center;
}
#titulo_grafico
{
	color:#051720;
	font-size:17px;
	font-weight: bold;
	text-align: center;
	margin: 0px 0px 15px 0px;
}
#espacio
{
        width: 30px;
}
#sin_resultado
{
	background-color:#279fe0;
	color:#051720;
	font-size:18px;
	font-weight: bold;
	text-align: center;
	margin: 40px 0 0 250px;
}
#tabla_detalle
{
	color:#051720;
	text-align: center;
	width: 700px;
	margin: 20px 0 0 290px;
}

